In [2]:
# importing libraries
import pandas as pd
import numpy as np

In [3]:
#load file
cars_df = pd.read_csv("./data/raw/cars.csv")
df = cars_df.copy( )

In [4]:
missing_values_sum = cars_df.isna().sum(axis=1)
df_nan = cars_df.loc[missing_values_sum == cars_df.shape[1]-1]
index_list = df_nan.index.to_list()

cars_df.drop(index=index_list,inplace=True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 893 entries, 0 to 892
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 893 non-null    object
 1   location             673 non-null    object
 2   mileage              725 non-null    object
 3   price                725 non-null    object
 4   Exterior color       681 non-null    object
 5   interior color       681 non-null    object
 6   Drivetrain           681 non-null    object
 7   MPG                  673 non-null    object
 8   Fuel type            681 non-null    object
 9   Transmission         672 non-null    object
 10  Engine               678 non-null    object
 11  Accidents or damage  449 non-null    object
 12  1-owner vehicle      449 non-null    object
 13  Personal use only    449 non-null    object
dtypes: object(14)
memory usage: 97.8+ KB

In [6]:
df["car_year"] = df["name"].str.extract(r"\b(\d{4})\b")

In [7]:
df["name"] = df["name"].str.replace(r"\b(\d{4})\b","",regex=True)

In [8]:
df["car_brand"] = df["name"].str.split().str[0]

In [9]:
df["name"] = df["name"].str.split().str[1:].str.join(" ")

In [10]:
df["name"] = df["name"].str.strip().str.upper()

In [11]:
tokens = df["name"].str.split().explode()
tokens.value_counts().head(60)

name
BASE          129
PREMIUM        66
S              60
4MATIC         43
LIMITED        42
SPORT          33
PLUS           30
LUXURY         30
XDRIVE         25
SILVERADO      23
AMG            23
TOURING        22
GRAND          22
HYBRID         21
I              21
SE             21
ROVER          20
AWD            19
PACKAGE        18
LT             17
350            17
SEL            16
COUPE          16
2.0T           16
CHEROKEE       16
CT6            15
RANGE          15
EX-L           15
GT             15
45             14
RS             14
EXPLORER       13
SPORTWAGEN     13
TURBO          13
BRONCO         13
L              12
RESERVE        12
LS             12
63             12
GRAN           11
X5             11
SHELBY         11
300            11
DTS            11
CIVIC          10
MDX            10
LE             10
SV             10
HR-V           10
LINE           10
EQE            10
A5              9
NAUTILUS        9
ROOF            9
XLT             9
BLAZER          9
HIGH            9
MODEL           9
HIGHLANDER      9
3.6L            9
Name: count, dtype: int64

In [13]:
df["name"]

0       IS 500 F SPORT PERFORMANCE
1                    E-CLASS E 350
2                    TIGUAN 2.0T S
3      TIGUAN 2.0T SE R-LINE BLACK
4                COROLLA HYBRID LE
                  ...
888    SILVERADO CUSTOM TRAIL BOSS
889                   SILVERADO WT
890                       X6 M SUV
891               AMG GT 63 4-DOOR
892                     SIENNA XLE
Name: name, Length: 893, dtype: object

In [13]:
pattern_dict = {
    "model": {
        "exact": [
            "SILVERADO",
            "CHEROKEE",
            "HIGHLANDER",
            "TIGUAN",
            "CIVIC",
            "FORESTER",
            "WRANGLER",
            "EXPLORER", 
            "KONA", 
            "ECLIPSE",
            "GR86",
            "NAVIGATOR",
            "FUSION",
            "PROMASTER",
            "TOUAREG",
            "MUSTANG",
            "ESCAPE",
            "YUKON",
            "EQE",
            "SHELBY",
            "XTS",
            "CROSSFIRE",
            "CT6",
            "BLAZER"
        ]
       
    }

    
}

In [15]:
import re
def extract_model_and_engine(df,word_dict):
    model_exact = set(word_dict.get("model",{}).get("exact",[]))
   

    model_list = []
    
    
    for val in df["name"].str.split():
        model_row = "UNKNOWN"

        for word in val:
            if word in model_exact:
                model_row = word
                break

        model_list.append(model_row)
        


    df["model"] = model_list
   


    return df

In [17]:
df = extract_model_and_engine(df,pattern_dict)

In [18]:
df

,name,location,mileage,price,Exterior color,interior color,Drivetrain,MPG,Fuel type,Transmission,Engine,Accidents or damage,1-owner vehicle,Personal use only,car_year,car_brand,model
0,IS 500 F SPORT PERFORMANCE,"1035 N Clark St Chicago, IL 60610","11,633 mi.","$56,888",Gray,Black,Rear-wheel Drive,17–25,Gasoline,8-Speed Automatic,5.0L V8 32V PDI DOHC,None reported,No,No,2022,Lexus,UNKNOWN
1,E-CLASS E 350,"1520 W North Ave Chicago, IL 60642","13,501 mi.","$43,492 $1,341 price drop",Polar White,Macchiato Beige,Rear-wheel Drive,22–31,Gasoline,9-Speed Automatic,2.0L I4 16V GDI DOHC Turbo,None reported,No,No,2021,Mercedes-Benz,UNKNOWN
2,TIGUAN 2.0T S,"5330 W. Irving Park Road Chicago, IL 60641","2,132 mi.","$25,119 $876 price drop",Platinum Gray Metallic,Titan Black,All-wheel Drive,22–29,Gasoline,8-Speed Automatic,2.0L I4 16V GDI DOHC Turbo,None reported,Yes,No,2023,Volkswagen,TIGUAN
3,TIGUAN 2.0T SE R-LINE BLACK,"5330 W. Irving Park Road Chicago, IL 60641","13,295 mi.","$29,154 $641 price drop",Deep Black Pearl Effect,Black,Front-wheel Drive,23–30,Gasoline,8-Speed Automatic,2.0L I4 16V GDI DOHC Turbo,None reported,Yes,No,2023,Volkswagen,TIGUAN
4,COROLLA HYBRID LE,"6941 S. Western Ave Chicago, IL 60636",2 mi.,"$26,743 MSRP $27,043",Classic Silver Metallic,Black,Front-wheel Drive,53–46,Hybrid,Automatic CVT,1.8L I4 16V MPFI DOHC Hybrid,NaN,NaN,NaN,2024,Toyota,UNKNOWN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
888,SILVERADO CUSTOM TRAIL BOSS,"414 E North Ave Glendale Heights, IL 60139",2 mi.,"$48,695 $3,390 price drop",Glacier Blue Metallic,Jet Black,Four-wheel Drive,16–17,Gasoline,Automatic,2.7L I4 16V GDI DOHC Turbo,NaN,NaN,NaN,2024,Chevrolet,SILVERADO
889,SILVERADO WT,"300 Roosevelt Rd Glen Ellyn, IL 60137",6 mi.,"$52,965",Summit White,Jet Black,Four-wheel Drive,0–0,Gasoline,10-Speed Automatic,"6.6L V-8 gasoline direct injection, variable v...",NaN,NaN,NaN,2024,Chevrolet,SILVERADO
890,X6 M SUV,"27w110 North Ave West Chicago, IL 60185","8,810 mi.","$99,800 $5,000 price drop",Donington Grey Metallic,Black,All-wheel Drive,13–18,Gasoline,8-Speed Shiftable Automatic w/Sport Transmission,4.4L Twin Turbo V8 600hp 553ft. lbs.,None reported,Yes,No,2023,BMW,UNKNOWN
891,AMG GT 63 4-DOOR,"1000 W Golf Road Hoffman Estates, IL 60169","27,265 mi.","$99,999 $2,000 price drop",Jupiter Red,Black,All-wheel Drive,15–20,Gasoline,9-Speed Automatic,4.0L V8 32V GDI DOHC Twin Turbo,None reported,No,No,2020,Mercedes-Benz,UNKNOWN
892,SIENNA XLE,"1911 N Rand Rd Palatine, IL 60074","85,820 mi.","$16,933 $490 price drop",Gray,Gray,Front-wheel Drive,18–25,Gasoline,6-Speed Automatic,3.5L V6 24V MPFI DOHC,At least 1 accident or damage reported,Yes,No,2013,Toyota,UNKNOWN

In [19]:

def extract_model_only(df):
    new_model = []
    new_name = []

    for name,model in zip(df["name"],df["model"]):
        tokens = str(name).split()

        if not tokens:
            new_model.append(model)
            new_name.append(name)
            continue

        first_word = tokens[0]

        if model!="UNKNOWN":
            new_model.append(model)
            remaining = tokens[1:]
        else:
            new_model.append(first_word)
            remaining = tokens[1:]


        new_name.append(" ".join(remaining))
    df["name"] = new_name
    df["model"] = new_model

    return df

In [20]:
extract_model_only(df)

,name,location,mileage,price,Exterior color,interior color,Drivetrain,MPG,Fuel type,Transmission,Engine,Accidents or damage,1-owner vehicle,Personal use only,car_year,car_brand,model
0,500 F SPORT PERFORMANCE,"1035 N Clark St Chicago, IL 60610","11,633 mi.","$56,888",Gray,Black,Rear-wheel Drive,17–25,Gasoline,8-Speed Automatic,5.0L V8 32V PDI DOHC,None reported,No,No,2022,Lexus,IS
1,E 350,"1520 W North Ave Chicago, IL 60642","13,501 mi.","$43,492 $1,341 price drop",Polar White,Macchiato Beige,Rear-wheel Drive,22–31,Gasoline,9-Speed Automatic,2.0L I4 16V GDI DOHC Turbo,None reported,No,No,2021,Mercedes-Benz,E-CLASS
2,2.0T S,"5330 W. Irving Park Road Chicago, IL 60641","2,132 mi.","$25,119 $876 price drop",Platinum Gray Metallic,Titan Black,All-wheel Drive,22–29,Gasoline,8-Speed Automatic,2.0L I4 16V GDI DOHC Turbo,None reported,Yes,No,2023,Volkswagen,TIGUAN
3,2.0T SE R-LINE BLACK,"5330 W. Irving Park Road Chicago, IL 60641","13,295 mi.","$29,154 $641 price drop",Deep Black Pearl Effect,Black,Front-wheel Drive,23–30,Gasoline,8-Speed Automatic,2.0L I4 16V GDI DOHC Turbo,None reported,Yes,No,2023,Volkswagen,TIGUAN
4,HYBRID LE,"6941 S. Western Ave Chicago, IL 60636",2 mi.,"$26,743 MSRP $27,043",Classic Silver Metallic,Black,Front-wheel Drive,53–46,Hybrid,Automatic CVT,1.8L I4 16V MPFI DOHC Hybrid,NaN,NaN,NaN,2024,Toyota,COROLLA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
888,CUSTOM TRAIL BOSS,"414 E North Ave Glendale Heights, IL 60139",2 mi.,"$48,695 $3,390 price drop",Glacier Blue Metallic,Jet Black,Four-wheel Drive,16–17,Gasoline,Automatic,2.7L I4 16V GDI DOHC Turbo,NaN,NaN,NaN,2024,Chevrolet,SILVERADO
889,WT,"300 Roosevelt Rd Glen Ellyn, IL 60137",6 mi.,"$52,965",Summit White,Jet Black,Four-wheel Drive,0–0,Gasoline,10-Speed Automatic,"6.6L V-8 gasoline direct injection, variable v...",NaN,NaN,NaN,2024,Chevrolet,SILVERADO
890,M SUV,"27w110 North Ave West Chicago, IL 60185","8,810 mi.","$99,800 $5,000 price drop",Donington Grey Metallic,Black,All-wheel Drive,13–18,Gasoline,8-Speed Shiftable Automatic w/Sport Transmission,4.4L Twin Turbo V8 600hp 553ft. lbs.,None reported,Yes,No,2023,BMW,X6
891,GT 63 4-DOOR,"1000 W Golf Road Hoffman Estates, IL 60169","27,265 mi.","$99,999 $2,000 price drop",Jupiter Red,Black,All-wheel Drive,15–20,Gasoline,9-Speed Automatic,4.0L V8 32V GDI DOHC Twin Turbo,None reported,No,No,2020,Mercedes-Benz,AMG
892,XLE,"1911 N Rand Rd Palatine, IL 60074","85,820 mi.","$16,933 $490 price drop",Gray,Gray,Front-wheel Drive,18–25,Gasoline,6-Speed Automatic,3.5L V6 24V MPFI DOHC,At least 1 accident or damage reported,Yes,No,2013,Toyota,SIENNA

In [21]:
df["name"].sample(5)

17     45 PREMIUM PLUS
765                 RS
32              RAPTOR
41            550 BASE
674             L 3.0T
Name: name, dtype: object

In [22]:
df[df["Engine"].isna()]

,name,location,mileage,price,Exterior color,interior color,Drivetrain,MPG,Fuel type,Transmission,Engine,Accidents or damage,1-owner vehicle,Personal use only,car_year,car_brand,model
14,SPORT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,Cadillac,ESCALADE
15,BASE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,Acura,RDX
20,GRAND SPORT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,Chevrolet,CORVETTE
28,4,NaN,"9,860 mi.","$81,987 $347 price drop",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,Porsche,PANAMERA
38,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013,Porsche,PANAMERA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
875,TURBO GS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,Buick,REGAL
877,RESERVE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024,Lincoln,NAUTILUS
879,PREMIUM PLUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,Audi,E-TRON
881,BASE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1988,Chevrolet,C10/K10
885,1LS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024,Chevrolet,MALIBU

In [23]:
dict = {
    "Trim" : ["BASE","PREMIUM","LIMITED","LUXURY","SPORT","PLUS","S","SE","XLT","PACKAGE","LE","PLATINUM","OVERLAND","LUXE","TOURING","PREMIERE","TECHNOLOGY	"],
    "BADGE": ["AWD","LT","4MATIC","AMG","XDRIVE"]
}

In [24]:
trim_list = dict["Trim"]
badge_list = dict["BADGE"]
pattern_trim = "|".join(trim_list)
pattern_badge = "|".join(badge_list)

df["Trim"] = df["name"].str.extract(f"({pattern_trim})",expand=False).fillna("UNKNOWN")
df["Badge"] = df["name"].str.extract(f"({pattern_badge})",expand =False).fillna("UNKNOWN")

In [25]:
import re
temp_set =set(df["Trim"]).union(set(df["Badge"]))
temp_set.discard("UNKNOWN")
pattern = r"\b(?:{})\b".format("|".join(re.escape(x) for x in temp_set))
df["name"] = df["name"].str.replace(pattern," ",regex=True)
df["name"] = (
    df["name"]
    .astype(str)
    .str.replace(r"\s+", " ", regex=True)).str.strip()

In [26]:
#manually cleaning by observation
df["model"].iloc[16] = "COOPER"
df["model"].iloc[886] = "135I"
df["model"].iloc[126] = "XDRIVE60"

In [27]:
df[df["Trim"] == "UNKNOWN"][["name","model","Badge"]].sample(10)

                  name      model    Badge
172       6 AVANT 4.0T         RS  UNKNOWN
232                       LARAMIE  UNKNOWN
864       GT 63 4-DOOR        AMG  UNKNOWN
638  4XE HIGH ALTITUDE   WRANGLER       LT
151               M50I         X5  UNKNOWN
771          PREFERRED     ENCORE  UNKNOWN
584    CHEROKEE LAREDO   CHEROKEE  UNKNOWN
647                     SILVERADO       LT
605                 EX       CR-V      AWD
614                AT4     SIERRA  UNKNOWN

In [28]:
df["MPG"] = df["MPG"].astype(str).str.replace("–", "-", regex=False)

In [29]:
mask = df["MPG"].str.contains(r"^\s*\d+(?:\.\d+)?\s*-\s*\d+(?:\.\d+)?\s*$"
, na=False)
df.loc[mask,"MPG"] = df.loc[mask,"MPG"].apply(lambda x: float(x.split("-")[0]) + float(x.split("-")[1])/2)

In [30]:
mask2 = df["MPG"].str.contains("AUTOMATIC",na=False,case=False)
df.loc[mask2,"Transmission"] = df.loc[mask2,"MPG"]

In [31]:

x = df["price"].str.strip().str.split().str[0].str.contains(r"^\$\d+,\d+$",regex = True,na=False)
df["Actual_price"] = pd.NA
df.loc[x,"Actual_price"] = df.loc[x,"price"].str.split().str[0].str.split("$").str[1].str.replace(",","").astype("Int64")

In [32]:
df["Reduced_price"] = df["price"].str.extract(r"(\$[\d,]+)(?=\s*price)",expand=False)

In [33]:
x = df["Reduced_price"].notna()
df.loc[x,"Reduced_price"] = df.loc[x,"Reduced_price"].str.split("$").str[1].str.replace(",","").astype(int)

In [34]:
df

,name,location,mileage,price,Exterior color,interior color,Drivetrain,MPG,Fuel type,Transmission,...,Accidents or damage,1-owner vehicle,Personal use only,car_year,car_brand,model,Trim,Badge,Actual_price,Reduced_price
0,500 F PERFORMANCE,"1035 N Clark St Chicago, IL 60610","11,633 mi.","$56,888",Gray,Black,Rear-wheel Drive,29.5,Gasoline,8-Speed Automatic,...,None reported,No,No,2022,Lexus,IS,SPORT,UNKNOWN,56888,NaN
1,E 350,"1520 W North Ave Chicago, IL 60642","13,501 mi.","$43,492 $1,341 price drop",Polar White,Macchiato Beige,Rear-wheel Drive,37.5,Gasoline,9-Speed Automatic,...,None reported,No,No,2021,Mercedes-Benz,E-CLASS,UNKNOWN,UNKNOWN,43492,1341
2,2.0T,"5330 W. Irving Park Road Chicago, IL 60641","2,132 mi.","$25,119 $876 price drop",Platinum Gray Metallic,Titan Black,All-wheel Drive,36.5,Gasoline,8-Speed Automatic,...,None reported,Yes,No,2023,Volkswagen,TIGUAN,S,UNKNOWN,25119,876
3,2.0T SE R-LINE BLACK,"5330 W. Irving Park Road Chicago, IL 60641","13,295 mi.","$29,154 $641 price drop",Deep Black Pearl Effect,Black,Front-wheel Drive,38.0,Gasoline,8-Speed Automatic,...,None reported,Yes,No,2023,Volkswagen,TIGUAN,S,UNKNOWN,29154,641
4,HYBRID,"6941 S. Western Ave Chicago, IL 60636",2 mi.,"$26,743 MSRP $27,043",Classic Silver Metallic,Black,Front-wheel Drive,76.0,Hybrid,Automatic CVT,...,NaN,NaN,NaN,2024,Toyota,COROLLA,LE,UNKNOWN,26743,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
888,CUSTOM TRAIL BOSS,"414 E North Ave Glendale Heights, IL 60139",2 mi.,"$48,695 $3,390 price drop",Glacier Blue Metallic,Jet Black,Four-wheel Drive,24.5,Gasoline,Automatic,...,NaN,NaN,NaN,2024,Chevrolet,SILVERADO,S,UNKNOWN,48695,3390
889,WT,"300 Roosevelt Rd Glen Ellyn, IL 60137",6 mi.,"$52,965",Summit White,Jet Black,Four-wheel Drive,0.0,Gasoline,10-Speed Automatic,...,NaN,NaN,NaN,2024,Chevrolet,SILVERADO,UNKNOWN,UNKNOWN,52965,NaN
890,M SUV,"27w110 North Ave West Chicago, IL 60185","8,810 mi.","$99,800 $5,000 price drop",Donington Grey Metallic,Black,All-wheel Drive,22.0,Gasoline,8-Speed Shiftable Automatic w/Sport Transmission,...,None reported,Yes,No,2023,BMW,X6,S,UNKNOWN,99800,5000
891,GT 63 4-DOOR,"1000 W Golf Road Hoffman Estates, IL 60169","27,265 mi.","$99,999 $2,000 price drop",Jupiter Red,Black,All-wheel Drive,25.0,Gasoline,9-Speed Automatic,...,None reported,No,No,2020,Mercedes-Benz,AMG,UNKNOWN,UNKNOWN,99999,2000
892,XLE,"1911 N Rand Rd Palatine, IL 60074","85,820 mi.","$16,933 $490 price drop",Gray,Gray,Front-wheel Drive,30.5,Gasoline,6-Speed Automatic,...,At least 1 accident or damage reported,Yes,No,2013,Toyota,SIENNA,LE,UNKNOWN,16933,490

In [42]:
df["Actual_price"] = df["Actual_price"].fillna(df.groupby('car_brand')['Actual_price'].transform("median"))

In [40]:
df["Actual_price"] = df["Actual_price"].fillna(df.groupby('model')['Actual_price'].transform("median"))

/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/numpy/lib/_nanfunctions_impl.py:1214: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/numpy/lib/_nanfunctions_impl.py:1214: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/numpy/lib/_nanfunctions_impl.py:1214: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/numpy/lib/_nanfunctions_impl.py:1214: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/numpy/lib/_nanfunctions_impl.py:1214: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/numpy/lib/_nanfunctions_impl.py:1214: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/numpy/lib/_nanfunctions_impl.py:1214: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/numpy/lib/_nanfunctions_impl.py:1214: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/numpy/lib/_nanfunctions_impl.py:1214: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/numpy/lib/_nanfunctions_impl.py:1214: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/numpy/lib/_nanfunctions_impl.py:1214: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/numpy/lib/_nanfunctions_impl.py:1214: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/numpy/lib/_nanfunctions_impl.py:1214: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/numpy/lib/_nanfunctions_impl.py:1214: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/numpy/lib/_nanfunctions_impl.py:1214: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/numpy/lib/_nanfunctions_impl.py:1214: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/numpy/lib/_nanfunctions_impl.py:1214: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/numpy/lib/_nanfunctions_impl.py:1214: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/numpy/lib/_nanfunctions_impl.py:1214: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/numpy/lib/_nanfunctions_impl.py:1214: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/numpy/lib/_nanfunctions_impl.py:1214: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/numpy/lib/_nanfunctions_impl.py:1214: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/numpy/lib/_nanfunctions_impl.py:1214: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/numpy/lib/_nanfunctions_impl.py:1214: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/numpy/lib/_nanfunctions_impl.py:1214: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/numpy/lib/_nanfunctions_impl.py:1214: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/numpy/lib/_nanfunctions_impl.py:1214: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/numpy/lib/_nanfunctions_impl.py:1214: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/numpy/lib/_nanfunctions_impl.py:1214: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/numpy/lib/_nanfunctions_impl.py:1214: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/numpy/lib/_nanfunctions_impl.py:1214: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/numpy/lib/_nanfunctions_impl.py:1214: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/numpy/lib/_nanfunctions_impl.py:1214: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/numpy/lib/_nanfunctions_impl.py:1214: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/numpy/lib/_nanfunctions_impl.py:1214: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/numpy/lib/_nanfunctions_impl.py:1214: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/numpy/lib/_nanfunctions_impl.py:1214: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/numpy/lib/_nanfunctions_impl.py:1214: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/var/folders/ld/h49b47ld0yg69wyzs742yy_h0000gp/T/ipykernel_33389/1093774448.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Actual_price"] = df["Actual_price"].fillna(df.groupby('model')['Actual_price'].transform("median"))

In [35]:
df = df.dropna(subset=["Actual_price"]).reset_index(drop=True)

In [36]:
df

,name,location,mileage,price,Exterior color,interior color,Drivetrain,MPG,Fuel type,Transmission,...,Accidents or damage,1-owner vehicle,Personal use only,car_year,car_brand,model,Trim,Badge,Actual_price,Reduced_price
0,500 F PERFORMANCE,"1035 N Clark St Chicago, IL 60610","11,633 mi.","$56,888",Gray,Black,Rear-wheel Drive,29.5,Gasoline,8-Speed Automatic,...,None reported,No,No,2022,Lexus,IS,SPORT,UNKNOWN,56888,NaN
1,E 350,"1520 W North Ave Chicago, IL 60642","13,501 mi.","$43,492 $1,341 price drop",Polar White,Macchiato Beige,Rear-wheel Drive,37.5,Gasoline,9-Speed Automatic,...,None reported,No,No,2021,Mercedes-Benz,E-CLASS,UNKNOWN,UNKNOWN,43492,1341
2,2.0T,"5330 W. Irving Park Road Chicago, IL 60641","2,132 mi.","$25,119 $876 price drop",Platinum Gray Metallic,Titan Black,All-wheel Drive,36.5,Gasoline,8-Speed Automatic,...,None reported,Yes,No,2023,Volkswagen,TIGUAN,S,UNKNOWN,25119,876
3,2.0T SE R-LINE BLACK,"5330 W. Irving Park Road Chicago, IL 60641","13,295 mi.","$29,154 $641 price drop",Deep Black Pearl Effect,Black,Front-wheel Drive,38.0,Gasoline,8-Speed Automatic,...,None reported,Yes,No,2023,Volkswagen,TIGUAN,S,UNKNOWN,29154,641
4,HYBRID,"6941 S. Western Ave Chicago, IL 60636",2 mi.,"$26,743 MSRP $27,043",Classic Silver Metallic,Black,Front-wheel Drive,76.0,Hybrid,Automatic CVT,...,NaN,NaN,NaN,2024,Toyota,COROLLA,LE,UNKNOWN,26743,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
713,CUSTOM TRAIL BOSS,"414 E North Ave Glendale Heights, IL 60139",2 mi.,"$48,695 $3,390 price drop",Glacier Blue Metallic,Jet Black,Four-wheel Drive,24.5,Gasoline,Automatic,...,NaN,NaN,NaN,2024,Chevrolet,SILVERADO,S,UNKNOWN,48695,3390
714,WT,"300 Roosevelt Rd Glen Ellyn, IL 60137",6 mi.,"$52,965",Summit White,Jet Black,Four-wheel Drive,0.0,Gasoline,10-Speed Automatic,...,NaN,NaN,NaN,2024,Chevrolet,SILVERADO,UNKNOWN,UNKNOWN,52965,NaN
715,M SUV,"27w110 North Ave West Chicago, IL 60185","8,810 mi.","$99,800 $5,000 price drop",Donington Grey Metallic,Black,All-wheel Drive,22.0,Gasoline,8-Speed Shiftable Automatic w/Sport Transmission,...,None reported,Yes,No,2023,BMW,X6,S,UNKNOWN,99800,5000
716,GT 63 4-DOOR,"1000 W Golf Road Hoffman Estates, IL 60169","27,265 mi.","$99,999 $2,000 price drop",Jupiter Red,Black,All-wheel Drive,25.0,Gasoline,9-Speed Automatic,...,None reported,No,No,2020,Mercedes-Benz,AMG,UNKNOWN,UNKNOWN,99999,2000
717,XLE,"1911 N Rand Rd Palatine, IL 60074","85,820 mi.","$16,933 $490 price drop",Gray,Gray,Front-wheel Drive,30.5,Gasoline,6-Speed Automatic,...,At least 1 accident or damage reported,Yes,No,2013,Toyota,SIENNA,LE,UNKNOWN,16933,490

In [62]:
df["Fuel type"] = df.groupby("model")["Fuel type"].transform(lambda x: x.ffill().bfill())

In [63]:
df["Fuel type"].fillna("Gasoline",inplace=True)