In [137]:
# importing libraries
import pandas as pd
import numpy as np

In [145]:
#load file
cars_df = pd.read_csv("./data/raw/cars.csv")
df = cars_df.copy( )

0                2022 Lexus IS 500 F SPORT Performance
1                     2021 Mercedes-Benz E-Class E 350
2                        2023 Volkswagen Tiguan 2.0T S
3          2023 Volkswagen Tiguan 2.0T SE R-Line Black
4                        2024 Toyota Corolla Hybrid LE
                            ...
888    2024 Chevrolet Silverado 1500 Custom Trail Boss
889                   2024 Chevrolet Silverado 2500 WT
890                                  2023 BMW X6 M SUV
891                2020 Mercedes-Benz AMG GT 63 4-Door
892                             2013 Toyota Sienna XLE
Name: name, Length: 893, dtype: object

In [140]:
missing_values_sum = cars_df.isna().sum(axis=1)
df_nan = cars_df.loc[missing_values_sum == cars_df.shape[1]-1]
index_list = df_nan.index.to_list()

cars_df.drop(index=index_list,inplace=True)

In [146]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 893 entries, 0 to 892
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 893 non-null    object
 1   location             673 non-null    object
 2   mileage              725 non-null    object
 3   price                725 non-null    object
 4   Exterior color       681 non-null    object
 5   interior color       681 non-null    object
 6   Drivetrain           681 non-null    object
 7   MPG                  673 non-null    object
 8   Fuel type            681 non-null    object
 9   Transmission         672 non-null    object
 10  Engine               678 non-null    object
 11  Accidents or damage  449 non-null    object
 12  1-owner vehicle      449 non-null    object
 13  Personal use only    449 non-null    object
dtypes: object(14)
memory usage: 97.8+ KB

In [150]:
df["car_year"] = df["name"].str.extract(r"\b(\d{4})\b")

In [151]:
df["name"] = df["name"].str.replace(r"\b(\d{4})\b","",regex=True)

In [152]:
df["car_brand"] = df["name"].str.split().str[0]

In [153]:
df["name"] = df["name"].str.split().str[1:].str.join(" ")

In [204]:
df["name"] = df["name"].str.strip().str.upper()

In [186]:
tokens = df["name"].str.split().explode()
tokens.value_counts().head(60)

name
Base          129
Premium        65
S              60
4MATIC         43
Limited        42
Luxury         30
Sport          30
Plus           29
xDrive         24
AMG            23
Silverado      23
Grand          22
Touring        22
i              21
Hybrid         21
SE             21
Rover          20
AWD            19
Package        18
LT             17
350            17
2.0T           16
Cherokee       16
Coupe          16
SEL            16
Range          15
EX-L           15
GT             15
CT6            15
RS             14
45             14
Bronco         13
SportWagen     13
Explorer       13
Turbo          13
Reserve        12
LS             12
63             12
L              12
Gran           11
Shelby         11
DTS            11
X5             11
300            11
EQE            10
SV             10
MDX            10
HR-V           10
LE             10
Civic          10
line            9
Nautilus        9
3.6L            9
A5              9
Model           9
Blazer          9
Roof            9
Highlander      9
XLT             9
High            9
Name: count, dtype: int64

In [205]:
df["name"]

0       IS 500 F SPORT PERFORMANCE
1                    E-CLASS E 350
2                    TIGUAN 2.0T S
3      TIGUAN 2.0T SE R-LINE BLACK
4                COROLLA HYBRID LE
                  ...
888    SILVERADO CUSTOM TRAIL BOSS
889                   SILVERADO WT
890                       X6 M SUV
891               AMG GT 63 4-DOOR
892                     SIENNA XLE
Name: name, Length: 893, dtype: object

In [203]:
pattern_dict = {
    "model": {
        "exact": [
            "SILVERADO",
            "CHEROKEE",
            "HIGHLANDER",
            "TIGUAN"
        ]
       
    },

    "engine": {
        "exact": ["HYBRID"],
        "regex": [
            r"^[0-9]+\.[0-9]+[A-Za-z]$",   # 2.0T, 3.5L
            r"^[0-9]{3}$"                  # 350, 500
        ]
    }
}

55    Explorer Limited
Name: name, dtype: object